* {
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #080e2c;
}

#result {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: bold;
    color: #eff5f7;
}

#circle {
    margin: auto;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    background-color: #eff5f7;
}
.change {
    background-color: #5a228b !important;
}